// Mixins in here

.top-button-mixin(@color, @hovercolor) {
    text-decoration: none;
    color: @color;

    &:hover {
        color: @hovercolor;
    }
}

.button-mixin(@color, @bg-color,@padding, @radius) {
    color: @color;
    background-color: @bg-color;
    padding: @padding;
    border-radius: @radius;
    font-size: 1.5rem;
    text-decoration: none;

    &:hover {
        background-color: darken(@bg-color, 10%);
    }
}

.animation(@name, @1, @2) {
    @keyframes @name {
       0% {
           background-color: @1;
       } 

       50% {
           background-color: @2;
       }

       100% {
           background-color: @1;
       }
    }
}